{% extends 'base.html' %}
{% block content %}
<h1>Fitvisual</h1>

<h5>NPM: </h5>
<p>{{ npm }}<p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

{% if not toko_entries %}
<p>Belum ada data toko pada Fitvisual.</p>
{% else %}
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Harga</th>
    <th>Deskripsi</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
  {% endcomment %} 
  {% for toko_entry in toko_entries %}
  <tr>
    <td>{{toko_entry.nama}}</td>
    <td>{{toko_entry.harga}}</td>
    <td>{{toko_entry.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_toko_entry' %}">
  <button>Tambahkan Produk</button>
</a>

{% endblock content %}